---
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Product of <a href={canonicalURL}>PineCode</a>
    @{new Date().getFullYear()}.
  </p>
</footer>
